body{background-color: black;}



.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: rgba(111, 7, 99, 0.408);
    color: white;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
    box-shadow: 7px 13px 10px #866ee7;
}

.sidebar h2 {
    color: #fff;
    font-size: 20px;
}

.sidebar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: rgba(149, 40, 136, 0.408);
}

.section {
    margin-bottom: 20px;
}

.form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-bg {background-color: rgba(111, 7, 99, 0.408); border:4px solid rgba(149, 40, 136, 0.408) ;}
.custom-bg-purple{background-color: rgba(149, 40, 136, 0.408);}