
body{background-color: black;}

h1{color: white;
text-align: center
;}

/* Custom Background Colors */
.custom-bg-header {
    background-color:black; /* Ejemplo de color púrpura personalizado */
}

.custom-bg-sidebar {
    background-color: rgba(149, 40, 136, 0.408); /* Ejemplo de color púrpura más oscuro */
}

.custom-bg-item {
    background-color:rgba(149, 40, 136, 0.408) ;/* Mismo púrpura que en el header */
}

.custom-bg-footer {
    background-color: rgba(149, 40, 136, 0.408); /* Mismo púrpura que en el sidebar */
}